*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /*assuming browser font default is 16px*/
  font-size: 62.5%;
  /*translates to 10px -> root font*/
}

/* font properties are stated here
because they will get inherited by
child components */
body {
  box-sizing: border-box;
  height: 100vh;
  background-color: #2e2e2e;
}

html,
body {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
