**/.vscode/
**/.idea/
**/coverage/
**/docs/
**/node_modules/
**/.DS_Store
**/.dockerignore
**/.editorconfig
**/.gitattributes
**/.gitignore
**/CODE-OF-CONDUCT.md
**/Dockerfile
**/README.md
**/docker-compose.yml
**/env.example
**/package-lock.json
