**/.circleci/
**/.vscode/
**/.idea/
**/coverage/
**/docs/
**/node_modules/
**/node_modules_linux/g
**/.dockerignore
**/.editorconfig
**/.git
**/.gitattributes
**/.gitignore
**/.travis.yml
**/CODE-OF-CONDUCT.md
**/Dockerfile
**/LICENSE
**/README.md
**/docker-compose.yml
**/env.example
**/package-lock.json
