# Ignore Gatsby Top Layout Plugin
src/frontend/gatsby/plugins/gatsby-plugin-top-layout
# Ignore generated folders in Gatsby
src/frontend/gatsby/public
src/frontend/gatsby/.cache
# We run eslint directly in the next frontend with its own config
src/frontend/next/.next
