
# Allow running postinstall script in Docker
unsafe-perm=true

# Set empty tag version prefix
tag-version-prefix=""

# Don't use ^ when adding packages, prefix with nothing, see:
# https://pnpm.io/npmrc#save-prefix
save-prefix=""

link-workspace-packages=false
