package.json
package-lock.json
node_modules/
coverage/
certs
.cache
.next
out
pnpm-lock.yaml
*.min.css

# We don't maintain these files
src/api/status/public/assets
src/web/public/sw*
src/web/public/workbox*
src/api/status/src/views

# Ignore these directories for the docusaurus docs website
src/api/docs/.docusaurus
src/api/docs/build
src/api/docs/node_modules/
src/api/docs/package.json
src/api/docs/package-lock.json
