package.json
package-lock.json
node_modules/
coverage/
certs
.cache
.next
out
pnpm-lock.yaml
*.min.css

# We don't maintain these files
src/api/status/public/assets
src/web/app/public/sw*
src/web/app/public/workbox*
src/api/status/src/views

# Ignore these directories for the docusaurus docs website
src/web/docusaurus/.docusaurus
src/web/docusaurus/build
src/web/docusaurus/node_modules/
src/web/docusaurus/package.json
src/web/docusaurus/package-lock.json

# Don't update the generated types
src/github-url-parser/dist
