# Version 3, most current, and recommended compose file version
# https://docs.docker.com/compose/compose-file/compose-versioning/
version: '3'

services:
  telescope:
    build:
      context: .
      dockerfile: Dockerfile
    env_file: .env
    environment:
      # a place-holder for the variable passed by CLI with a default value
      # the passed or default value is a command to run `telescope`
      - script=${script:-start}
      # override the .env variable for `REDIS_URL`
      - REDIS_URL=redis://redis:${REDIS_PORT}
      # variables for elasticsearch
      - ES_HOST=elasticsearch
      - ELASTIC_URL=http://elasticsearch
    depends_on:
      - redis
      - login
      - elasticsearch
    ports:
      - ${PORT}:${PORT}

  redis:
    image: redis:latest
    ports:
      - ${REDIS_PORT}:${REDIS_PORT}

  elasticsearch:
    container_name: tqd-elasticsearch
    image: docker.elastic.co/elasticsearch/elasticsearch:7.5.0
    environment:
      - bootstrap.memory_lock=true
      - 'ES_JAVA_OPTS=-Xms512m -Xmx512m'
      - discovery.type=single-node
    ports:
      - ${ELASTIC_PORT}:${ELASTIC_PORT}

  # SSO Identity Provider test service, https://simplesamlphp.org
  # Access to the authentication page via http://localhost:8080/simplesaml or https://localhost:8443/simplesaml
  login:
    environment:
      - SIMPLESAMLPHP_SP_ENTITY_ID=${SAML2_CLIENT_ID:-saml-poc}
      - SIMPLESAMLPHP_SP_ASSERTION_CONSUMER_SERVICE=${SSO_LOGIN_CALLBACK_URL}
      - SIMPLESAMLPHP_SP_SINGLE_LOGOUT_SERVICE=${SLO_LOGOUT_CALLBACK_URL}
    # image owner's blog post https://medium.com/disney-streaming/setup-a-single-sign-on-saml-test-environment-with-docker-and-nodejs-c53fc1a984c9
    image: kristophjunge/test-saml-idp
    ports:
      # These ports + port 80 are pre-defined in the latter image
      # http port
      - '8080:8080'
      # https port
      - '8443:8443'
