# NODE_ENV should be one of "development" or "production"
NODE_ENV=development

# PORT is the port used by the web server
PORT=8080

# REDIS_URL specifies Redis server info
REDIS_URL=redis://127.0.0.1:6379

#OICD_BASE_URI = BASE URL this is set automatically
OICD_BASE_URI = https://openid-connect.onelogin.com/oidc

#OIDC_CLIENT_ID = CLIENT ID obtained from OpenId Connect Strategy - THIS WILL BE OBTAINED FROM SENECA AT A LATER DATE.
OIDC_CLIENT_ID = ddf97d-xxx-xxxx-e92920

#OIDC_CLIENT_SECRET = CLIENT SECRET obtained from OpenID Connect Strategy - THIS WILL BE OBTAINED FROM SENECA AT A LATER DATE.
OIDC_CLIENT_SECRET = f021f63bxxxx71f2c6a90c9b

#OIDC_REDIRECT_URI This is the call back URL, set within the OPENID CONNECT STRATEGY, WE WILL NEED TO GET THIS SET-UP WITH SENECA AT A LATER DATE.
OIDC_REDIRECT_URI =http://localhost:3000/oauth/callback

# NODEMAILER_USERNAME is sender's username credential	
NODEMAILER_USERNAME=	

# NODEMAILER_PASSWORD is sender's password credential	
NODEMAILER_PASSWORD=

# NODEMAILER_SERVER is sender's server that they are using (Example: smtp.example.com)
NODEMAILER_SERVER=	

