# NODE_ENV should be one of "development" or "production"
NODE_ENV=development

# PORT is the port used by the web server
PORT=3000

# LOG_LEVEL is used to set the level of debugging for the logs.
# info, error and debug are commonly used levels. See http://getpino.io/#/docs/api?id=level for more info on levels.
# to completely disable all logs, use silent.
LOG_LEVEL=debug

# LOG_FILE is used to set a destination path to write logs. Works in production mode only.
LOG_FILE=

# FEED_URL url used to access feed list
FEED_URL=https://wiki.cdot.senecacollege.ca/wiki/Planet_CDOT_Feed_List

# REDIS_URL specifies Redis server info
REDIS_URL=redis://127.0.0.1:6379
REDIS_PORT=6379

# MOCK_REDIS=1 will use an in-memory, mock Redis instance. Useful for testing.
MOCK_REDIS=

#https://developers.onelogin.com/saml - is used for this current portion of code

#OICD_BASE_URI = BASE URL e.g.  https://openid-connect.onelogin.com/oidc
OICD_BASE_URI=""

#OIDC_CLIENT_ID = CLIENT ID obtained from OpenId Connect Strategy - THIS WILL BE OBTAINED FROM SENECA AT A LATER DATE.
OIDC_CLIENT_ID=

#OIDC_CLIENT_SECRET = CLIENT SECRET obtained from OpenID Connect Strategy - THIS WILL BE OBTAINED FROM SENECA AT A LATER DATE.
OIDC_CLIENT_SECRET=

#OIDC_REDIRECT_URI This is the call back URL, set within the OPENID CONNECT STRATEGY, WE WILL NEED TO GET THIS SET-UP WITH SENECA AT A LATER DATE. http://localhost:3000/oauth/callback is used for tutorial sake.
OIDC_REDIRECT_URI=

#end portion of code with regards to https://developers.onelogin.com/saml

# NODEMAILER_USERNAME is sender's username credential
NODEMAILER_USERNAME=

# NODEMAILER_PASSWORD is sender's password credential
NODEMAILER_PASSWORD=

# NODEMAILER_SERVER is sender's server that they are using (Example: smtp.example.com)
NODEMAILER_SERVER=

# NODEMAILER_TESTRECIPIENT is a email that will receive email messages from telescope
NODEMAILER_TESTRECIPIENT=

# BLOG_INACTIVE_TIME is the period (days) of inactivity
# before a blog will be considered redlisted
BLOG_INACTIVE_TIME=360

# GITHUB_TOKEN is used when fetching data from the GitHub API
GITHUB_TOKEN=

# Feed job queue attempts
FEED_QUEUE_ATTEMPTS=8

# Feed job queue delay(ms)
FEED_QUEUE_DELAY_MS=60000
