*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /*assuming browser font default is 16px*/
  font-size: 62.5%;
  /*translates to 10px -> root font*/
}

/* font properties are stated here
because they will get inherited by
child components */
body {
  box-sizing: border-box;
  height: 100vh;
  background: url('../images/background.jpg') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

html,
body {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* .header {
  background-color: #242424;
  margin: 2rem 0;
  width: 100vw;
  height: 7vh;
  color: #a4d4ff;
}
.header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 0;
}
.header__navigation {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
}
.header__navigation-items {
  font-size: 1.8rem;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.header__navigation-item {
  padding: 0 0.5rem;
}
.header__navigation-item a {
  text-decoration: none;
}
.header__navigation-item a:hover,
.header__navigation-item a:active {
  outline: none;
}
.header__navigation-item a:visited {
  color: #a4d4ff;
}
.header__navigation .spacer {
  flex: 1;
}
.header__title {
  margin-left: 1rem;
  color: #a4d4ff;
}
.header__title a {
  text-decoration: none;
  font-size: 3rem;
}
.header__title a:active,
.header__title a:hover {
  outline: none;
}
.header__title a:visited {
  color: #a4d4ff;
} */

/* .sidedrawer {
  background-color: rgba(36, 36, 36, 0.9);
  width: 20vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  max-width: 400px;
  padding: 10px;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
  padding-top: 5rem;
}
.sidedrawer__logo {
  text-align: center;
  max-height: 20rem;
}
.sidedrawer__logo img {
  height: 10rem;
}
.sidedrawer.open {
  transform: translateX(0);
}
.sidedrawer__navigation-items {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.sidedrawer__navigation-item {
  margin: 5px 5px;
  text-align: justify;
}
.sidedrawer__navigation-item a {
  display: inline-block;
  width: 100%;
  color: #cccccc;
  font-size: 1.7rem;
  text-decoration: none;
  border-bottom: 1px solid rgba(204, 204, 204, 0.2);
} */

/* .backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.5);
  z-index: 100;
  top: 0;
  left: 0;
  animation: transform 0.3s ease-out;
}
.backdrop.open {
  display: none;
} */

/* .text-area {
  width: 80vw;
  background: rgba(255, 255, 255, 0.7);
  margin: 3rem auto 0;
  font-size: 1.7rem;
  padding: rem 10rem;
}
.text-area .post {
  padding: 3rem;
  text-align: center;
} */

/* .main {
  margin-top: 10rem;
  justify-content: center;
}
.main__logo {
  text-align: center;
  width: 100%;
}
.main__logo img {
  max-height: 30rem;
  margin: auto;
} */
