// colors
$color-primary-dark: #375e77;
$color-primary-light: #a4d4ff;
$color-black: #242424;
$color-light-grey: #cccccc;
$color-dark-grey: #555555;
$alpha: 0.1;
$small-font-size: 1.5rem;
$medium-font-size: 1.7rem;
$large-font-size: 2rem;
$secondary-header-font-size: 1.8rem;
$primary-header-font-size: 3rem;
