# Port on which the server will be listening.
# If you change this, update DEPLOY_PORT in src/backend/web/routes/admin.js as well
DEPLOY_PORT=4000

# Secret to be shared between GitHub and the server
SECRET=

# Repo that will be automatically deployed
REPO_NAME=

# Type of deployment (either staging or production)
DEPLOY_TYPE=

# Client ID for Telescope's Unsplash collection
UNSPLASH_CLIENT_ID=

# Path to certificates
PATH_TO_CERTS=

# Slack "Incoming WebHook" to send messages to #telescope channel.
# For more information: https://api.slack.com/messaging/webhooks
# Example:
# await fetch(SLACK_SEND_MESSAGE, {
#       method: 'post',
#       headers: { 'Content-Type': 'application/json' },
#       body: "text": "This is the message"
#     });
# This will send the following message to our Slack channel: "This is the message"
SLACK_SEND_MESSAGE=
