# Port on which the server will be listening
DEPLOY_PORT=

# Secret to be shared between GitHub and the server
SECRET=

# Repo that will be automatically deployed
REPO_NAME=

# Type of deployment (either staging or production)
DEPLOY_TYPE=
