{{> sidebar}}

<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
  <!-- Navbar -->
  <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
    navbar-scroll="true">
    <div class="container-fluid py-1 px-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
          <li class="breadcrumb-item text-sm">
            <a class="opacity-5 text-dark" href="javascript:;">Pages</a>
          </li>
          <li class="breadcrumb-item text-sm text-dark active" aria-current="page">
            Build Log
          </li>
        </ol>
        <h6 class="font-weight-bolder mb-0">Build Log</h6>
      </nav>
      <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4 justify-content-end" id="navbar">
        <ul class="navbar-nav">
          <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
            <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
              <div class="sidenav-toggler-inner">
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid py-2">
    <div id="build-header" class="card mb-3 bg-white">
     <div class="card-body">
        <h6 id="build-header-title" class="mb-0 text-lg text-center">
          <i class="fa-spin fas fa-hourglass-half px-2"></i>Loading...
        </h6>
        <div id="build-header-info" hidden>
           <div class="row mb-2">
            <div id="previous-build" class="text-lg font-weight-bold d-flex justify-content-center"></div>
          </div>
          <div class="row mb-2">
            <div class="col text-xs">Triggered on <span id="build-started"></span></div>
            <div class="col col-md-2 text-xs">Result</div>
            <div class="col col-md-2 text-xs">Total duration</div>
          </div>
          <div class="row">
            <div class="col text-sm">
              <div class="align-center">
                <a id="build-sender" class="card-link" href="#">
                  <img
                    class="avatar avatar-xs rounded-circle"
                    alt=""
                    src=""
                    id="build-sender-img"
                  />
                  <span id="build-sender-name"></span>
                </a>
                synchronized
                <span><a id="build-git-sha" href="#" class="card-link text-decoration-underline"></a></span>
              </div>
            </div>
            <div
              id="build-result"
              class="col col-md-2 text-dark text-sm font-weight-bolder"
            ></div>
            <div
              id="build-duration"
              class="col col-md-2 text-dark text-sm font-weight-bolder"
            ></div>
          </div>
        </div>
     </div>
    </div>
    <div class="position-relative">
    <button id="copy-to-clipboard-button" class="btn btn-dark">Copy<i class="material-icons">content_copy</i></button>
    <div id="terminal"></div>
    </div>
  </div>
</main>
<!--   Core JS Files   -->
<script src="assets/js/core/popper.min.js"></script>
<script src="assets/js/core/bootstrap.min.js"></script>
<script src="assets/js/plugins/perfect-scrollbar.min.js"></script>
<script src="assets/js/plugins/smooth-scrollbar.min.js"></script>
<script src="assets/js/demo-sidenav.js"></script>
<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
<script src="assets/js/material-dashboard.min.js?v=3.0.0"></script>
<!--   Telescope JS Files   -->
<script src="https://cdn.jsdelivr.net/npm/xterm@4.15.0/lib/xterm.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/xterm-addon-fit@0.5.0/lib/xterm-addon-fit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/xterm-addon-web-links@0.4.0/lib/xterm-addon-web-links.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/xterm-addon-webgl@0.11.3/lib/xterm-addon-webgl.min.js"></script>
<script type="module" src="js/pages/build.js"></script>
