.box {
  position: relative;
  height: 50px;
  width: 250px;
  background: transparent;
  border-radius: 5px;
}
.box svg {
  position: absolute;
  height: 160px;
  width: 160px;
  left: 25%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
}
.box svg circle {
  fill: transparent;
  stroke: rgb(252, 206, 3);
  stroke-width: 3;
  stroke-dasharray: 3;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: rotate 1s linear infinite, stroke 3.9s linear infinite;
}

.box .counter {
  position: absolute;
  top: 60%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 30px;
  color: #e6b800;
  text-align: center;
  overflow: hidden;
}
.box .counter span {
  font-size: 10px;
  line-height: 25px;
  font-weight: bold;
}
h8 {
  color: #000;
  position: absolute;
  width: 100%;
  text-align: right;
  top: 25%;
  right: 2%;
  letter-spacing: 1px;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(420deg);
  }
}
@keyframes stroke {
  0% {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: 63;
  }
  100% {
    stroke-dashoffset: 126;
  }
}
