.xterm {
  padding: 0.5rem;
  height: 89vh;
}

#copy-to-clipboard-button {
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  z-index: 10;
  opacity: 0.6;

  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
}

#copy-to-clipboard-button:hover,
#copy-to-clipboard-button:focus {
  opacity: 1;
}
