.xterm {
  width: 100%;
}

.position-relative,
.terminal {
  width: auto;
}

.xterm-viewport,
.xterm-screen,
.xterm-link-layer,
.xterm-cursor-layer,
canvas {
  width: 100% !important;
  max-height: 100%;
}

.build-log-title-container {
  display: flex;
  flex-direction: row;
}
.sidenav-toggler-inner {
  margin-right: 2rem;
}
#copy-to-clipboard-button {
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  z-index: 10;
  opacity: 0.6;

  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
}

.main-content {
  margin-right: 0.5rem;
}

.card {
  border-radius: 0.75rem 0.75rem 0 0 !important;
}
.card-body {
  padding: 1rem !important;
}

.xterm-helper-textarea {
  overflow: hidden;
}
#copy-to-clipboard-button:hover,
#copy-to-clipboard-button:focus {
  opacity: 1;
}
