.copyCodeBtn {
  position: absolute;
  right: 0;
  margin-right: 1.5rem;
  padding: 0.4rem;
  border: 1px solid #121d59;
  border-radius: 0.5rem;
  background-color: #ffffff;
  color: #121d59;
  transition-duration: 0.2s;
  cursor: pointer;
  animation: fade-in-out 200ms both;
}

@keyframes fade-in-out {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.copyCodeBtn:hover {
  background-color: #121d59;
  color: #ffffff;
}

.copyCodeBtn:active {
  background-color: #ffffff;
  color: #121d59;
}
