version: 2.1
jobs:
  build:
    working_directory: ~/telescope
    docker:
      - image: circleci/node:lts
      - image: circleci/redis:latest
    steps:
      - checkout
      - run:
          name: Generate SSL Certs
          command: ./tools/generate-ssl-certs.sh
      - run:
          name: Install dependencies
          command: npm install
      - run:
          name: Execute tests
          command: npm run test-ci
