{
  "presets": ["babel-preset-gatsby"],
  "env": {
    "production": {
      "plugins": [["react-remove-properties", { "properties": ["data-testid"] }]]
    },
    "development": {
      "plugins": [["react-remove-properties", { "properties": ["data-testid"] }]]
    }
  }
}
