.sidedrawer {
  background-color: rgba($color-black, 0.9);
  width: 20vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  max-width: 400px;
  padding: 10px;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
  padding-top: 5rem;

  &__logo {
    text-align: center;
    max-height: 20rem;
    & img {
      height: 10rem;
    }
  }

  &.open {
    transform: translateX(0);
  }

  &__navigation {
    &-items {
      height: 100%;
      list-style: none;
      display: flex;
      flex-direction: column;
      // justify-content: center ;
    }

    &-item {
      margin: 5px 5px;
      text-align: justify;

      & a {
        display: inline-block;
        width: 100%;
        color: $color-light-grey;
        font-size: $medium-font-size;
        text-decoration: none;
        border-bottom: 1px solid rgba($color-light-grey, 0.2);
      }
    }
  }
}
