.text-area {
  width: 80vw;
  background: rgba(255, 255, 255, 0.7);
  margin: 3rem auto 0;
  font-size: $medium-font-size;
  padding: rem 10rem;
  .post {
    padding: 3rem;
    text-align: center;
  }
}
