<div id="toast-container" class="toast-container position-fixed top-0 end-0 mt-2 me-2">
  {{!-- START Toast to clone from --}}
  <div id="sample-toast" aria-hidden="true" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-body">
    </div>
  </div>
  {{!-- END Toast to clone from --}}

  {{!-- New toasts are dynamtically added to this container --}}
</div>
