<div class="card">
  <div class="card-header pb-0">
    <div class="row">
      <div class="col">
        <h6>Telescope API Status</h6>
        <p class="text-sm mb-0">
          Status of the Telescope Web and Microservices API servers.
        </p>
      </div>
    </div>
  </div>
  <div class="card-body px-0 pb-2">
    <div class="table-responsive">
      <table class="table align-items-center mb-0" data-environment="{{environment.name}}" id="report-table">
        <thead>
          <tr>
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
              Service
            </th>
            {{#if environment.staging}}
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
              Staging
            </th>
            {{else}}
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
              Production
            </th>
            {{/if}}
          </tr>
        </thead>
        <tbody id="report">
          <tr>
            <td colspan="3">
              <div class="px-2 py-4">
                <h6 class="mb-0 text-lg" id="request-message">
                  <i class="fa-spin fas fa-hourglass-half px-2"></i>Loading...
                </h6>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
