<div class="col-xl-3 col-sm-6 mb-xl-0 mb-4 mt-4">
  <div class="card card--telescope">
    <div class="card-header card-header--telescope p-3 pt-2">
      <div class="
                    icon icon-lg icon-shape
                    bg-gradient-info
                    shadow-info
                    text-center
                    border-radius-xl
                    mt-n4
                    position-absolute
                  ">
        <i class="material-icons opacity-10">person</i>
      </div>
      <div class="text-end pt-1">
        <h6 class="mb-0 text-capitalize">Telescope</h6>
        <p class="text-sm mb-0 text-capitalize">Jobs in queue</p>
        <h4 class="mb-0" id="job-count">{{#if jobCount}}{{jobCount}}{{else}}N/A{{/if}}</h4>
      </div>
    </div>
    <hr class="dark horizontal my-0" />
    <div class="card-footer p-3"></div>
  </div>
</div>
