.telescope-post-content {
  font-size: 1.8rem;
  line-height: 1.6;
  text-align: left;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  font-family: PT Serif, Serif;
  letter-spacing: 0.5px;
}

.telescope-post-content p {
  margin: 1.2rem 0;
}

.telescope-post-content img {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 80vh;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  display: block;
  height: auto;
}

.telescope-post-content div > a > img {
  width: 32px;
  display: inline;
  vertical-align: middle;
}

.telescope-post-content h1 > a > img {
  width: 32px;
  display: inline;
  vertical-align: middle;
}

.telescope-post-content div > div {
  display: inline;
}

.telescope-post-content div > h1 {
  font-size: 1.8rem;
}

.telescope-post-content figure {
  display: block;
  margin: 0;
  text-align: center;
}

.telescope-post-content figure > table {
  text-align: start;
}

.telescope-post-content img[src*='emoji'],
.telescope-post-content img[src*='smileys'] {
  display: inline-block;
  width: 1.6rem;
  padding: 0;
  vertical-align: text-top;
}

.telescope-post-content img[src*='svg'] {
  width: 2rem;
  padding: 0;
  vertical-align: center;
}

.telescope-post-content img[src*='medium.com/_/stat'] {
  width: 1px;
  height: 1px;
}

.telescope-post-content h1 {
  font-size: 2em;
  max-width: 670px;
  margin-right: auto;
  margin-left: auto;
  line-height: 1.6;
}

.telescope-post-content ol,
.telescope-post-content ul {
  padding: 0 1.5em;
  line-height: 25px;
  margin: 12px 0;
}

/**
 * Custom styling for different blogging platforms.
 * Known hosts so far are: [medium.com, dev.to, blogspot.com], otherwise the class is "is-generic".
 * To add to this list see the Post.tsx file, under the `extractBlogClassName()` function.
 */
.telescope-post-content.is-blogspot img {
  display: block;
  width: auto;
}

/**
 * Styling for <code> (inline), <pre> (block), and <pre><code>...</code></pre>
 */
.telescope-post-content code,
.telescope-post-content pre {
  overflow-wrap: unset;
  word-wrap: none;
  font-family: Menlo, Consolas, Monaco, 'Liberation Mono', 'Lucida Console', monospace;
  background: rgb(14, 17, 22);
  color: #eff1fe;
}

.telescope-post-content pre {
  border: 1px solid #242424;
  page-break-inside: avoid;
  font-size: 1.5rem;
  line-height: 1.5;
  max-width: 100%;
  overflow: auto;
  padding: 0.5em 1.5em;
  word-wrap: break-word;
}

/**
 * hyperlinks
 */
.telescope-post-content a {
  color: #335a7e;
}

.telescope-post-content a:active,
.telescope-post-content a:visited {
  color: #35001d;
}

.telescope-post-content blockquote,
.telescope-post-content q {
  line-height: 1.5;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  display: block;
  font-style: italic;
}

/**
 * For YouTube, Vimeo <iframe> elements, we wrap them
 * in a <div> so we can expand them to fill the width.
 * See https://css-tricks.com/fluid-width-video/#article-header-id-0
 */
.telescope-post-content .iframe-video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.telescope-post-content .iframe-video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
