<!DOCTYPE html>
<html>
  {{> header }}
<body class="g-sidenav-show bg-gray-200">
    {{> _toast}}
    {{{body}}}
    {{!-- Telescope JS files --}}
    <script type="module" src="js/utils/toast.js"></script>
</body>
</html>
