/* RESET */

* {
  margin: 0px;
  padding: 0px;
}

body {
  overflow-x: hidden;
}

/* PLACE CSS VARIABLES HERE */
:root {
  --main-bg: #fdfdfd;
  --secondary: #da291c;
  --contrast: #ffe900;
  --grey: #545e75;
  --box-shadow-color: rgba(0, 0, 0, 0.3);
  --nav-btn-bgcolor: #fdfdfd;
  --content-font-color: #000000;
  --font-main: 'Montserrat', Arial, sans-serif;
  --srch-after: #da291c;
}

/* MAIN GRID */
.main-grid {
  position: absolute;
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 100%;
  grid-template-areas: 'nav main';
  width: 100%;
  height: 100%;
}

/* NAVIGATION */

.navigation-adaptive {
  grid-area: nav;
  background: var(--main-bg);
  box-shadow: 0px 0px 10px var(--box-shadow-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
}

#main-logo {
  width: 120px;
  margin-top: 20px;
}

nav {
  margin-top: 50px;
  text-align: center;
}

nav a:link,
nav a:visited {
  text-decoration: none;
}

#mobile-burger {
  display: none;
}

#mobile-burger-close {
  display: none;
}

.nav-button {
  display: inline-block;
  width: 150px;
  background: var(--nav-btn-bgcolor);
  font-size: 1.25em;
  box-shadow: -5px 0px 0px 0px var(--secondary);
  border: solid 2px var(--secondary);
  cursor: pointer;
  padding: 5px;
  color: var(--content-font-color);
  margin: 5px;
  transition: box-shadow 0.3s ease;
  font-family: var(--font-main);
  font-weight: 700;
}

.nav-button:hover {
  box-shadow: -8px 0px 0px 0px var(--secondary);
}

/* MAIN CONTENT */

.content {
  background: var(--main-bg);
  grid-area: main;
  display: flex;
  flex-direction: column;
  padding-right: 200px;
  padding-left: 200px;
  overflow-y: scroll;
}

article {
  display: grid;
  grid-template-rows: 80px auto;
  grid-template-areas:
    'header'
    'article-content';
  font-family: var(--font-main);
  margin-top: 20px;
}

article header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: var(--main-bg);
  position: sticky;
  top: 0px;
  max-width: 100%;
  overflow-x: hidden;
}

article header h1 {
  font-weight: 900;
  font-size: 25px;
  box-shadow: 0px 5px 0px 0px var(--secondary);
  display: block;
  overflow-x: hidden;
  max-width: 75%;
}

article header h1 a:link,
article header h1 a:visited {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--content-font-color);
  text-decoration: none;
}

article .post-content {
  grid-area: article-content;
  font-weight: 400;
  text-align: justify;
}

article .post-content h2,
article .post-content h3,
article .post-content h4,
article .post-content h5 {
  text-align: center;
  margin: 25px;
}

article .post-content p {
  font-size: 17px;
  line-height: 25px;
  text-indent: 30px;
  margin-top: 25px;
}

article .post-content ol,
article .post-content ul {
  padding-left: 20px;
}

.article-details {
  text-align: right;
}

.modal-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: var(--box-shadow-color);
  z-index: 20;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-panel {
  width: 800px;
  height: 500px;
  padding: 10px;
  background: var(--main-bg);
  box-shadow: 0px 5px 5px var(--box-shadow-color);
  border-radius: 10px;
  display: grid;
  grid-template-rows: 100px auto;
  grid-template-areas: 'title' 'content';
  font-family: var(--font-main);
  text-align: center;
}

.modal-panel h1 {
  grid-area: title;
}

.modal-panel section {
  grid-area: content;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(10, 1fr);
  overflow-y: scroll;
}

/* States */
.mobile-menu-open {
  transform: translateX(-200px);
  box-shadow: 0px 0px 100px var(--box-shadow-color);
}

.modal-open {
  display: flex;
}

/* RESPONSIVE QUERIES */
@media only screen and (max-width: 1280px) {
  .content {
    padding-right: 50px;
    padding-left: 50px;
  }
}

@media only screen and (max-width: 1024px) {
  .main-grid {
    grid-template-columns: 20px auto 20px;
    grid-template-rows: 60px auto;
    grid-template-areas:
      'nav nav nav'
      'main main main';
  }

  .navigation-adaptive {
    flex-direction: row;
    justify-content: space-between;
  }

  #main-logo {
    margin-top: 0px;
    height: 40px;
    width: 80px;
  }

  nav {
    margin: 0px;
    position: fixed;
    width: 200px;
    right: -200px;
    top: 0px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--main-bg);
    box-shadow: 0px 0px 0px var(--box-shadow-color);
    transition: transform 0.4s ease, box-shadow 0.7s ease;
  }

  #mobile-burger {
    display: inline-block;
    padding: 20px;
  }

  #mobile-burger-close {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 1.75em;
  }

  article .post-content {
    margin-right: 0px;
    margin-left: 0px;
  }

  .content {
    padding-right: 20px;
    padding-left: 20px;
  }
}

/* Search animation and icon CSS */
.search_container {
  display: block;
  margin-bottom: 70px;
}
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #da291c;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
  font-size: 12px;
}

.searchTerm:focus {
  color: #da291c;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #da291c;
  background: #da291c;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 16px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 90%;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 2px;
}
