/* RESET */

* {
  margin: 0px;
  padding: 0px;
}

body {
  overflow-x: hidden;
}

/* PLACE CSS VARIABLES HERE */
:root {
  --main-bg: #fdfdfd;
  --secondary: #da291c;
  --contrast: #ffe900;
  --grey: #545e75;
  --box-shadow-color: rgba(0, 0, 0, 0.3);
  --nav-btn-bgcolor: #fdfdfd;
  --content-font-color: #000000;
  --font-main: 'Montserrat', Arial, sans-serif;
  --srch-after: #da291c;
}

/* MAIN GRID */
.main-grid {
  position: absolute;
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 100%;
  grid-template-areas: 'nav main';
  width: 100%;
  height: 100%;
}

/* NAVIGATION */

.navigation-adaptive {
  grid-area: nav;
  background: var(--main-bg);
  box-shadow: 0px 0px 10px var(--box-shadow-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
}

#main-logo {
  width: 120px;
  margin-top: 20px;
}

nav {
  margin-top: 50px;
  text-align: center;
}

nav a:link,
nav a:visited {
  text-decoration: none;
}

#mobile-burger {
  display: none;
}

#mobile-burger-close {
  display: none;
}

.nav-button {
  display: inline-block;
  width: 150px;
  background: var(--nav-btn-bgcolor);
  font-size: 1.25em;
  box-shadow: -5px 0px 0px 0px var(--secondary);
  border: solid 2px var(--secondary);
  cursor: pointer;
  padding: 5px;
  color: var(--content-font-color);
  margin: 5px;
  transition: box-shadow 0.3s ease;
  font-family: var(--font-main);
  font-weight: 700;
}

.nav-button:hover {
  box-shadow: -8px 0px 0px 0px var(--secondary);
}

/* MAIN CONTENT */

.content {
  background: var(--main-bg);
  grid-area: main;
  display: flex;
  flex-direction: column;
  padding-right: 200px;
  padding-left: 200px;
  overflow-y: scroll;
}

article {
  display: grid;
  grid-template-rows: 80px auto;
  grid-template-areas:
    'header'
    'article-content';
  font-family: var(--font-main);
  margin-top: 20px;
}

article header {
  grid-area: 'header';
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: var(--main-bg);
  position: sticky;
  top: 0px;
}

article header h1 {
  font-weight: 900;
  font-size: 30px;
  box-shadow: 0px 5px 0px 0px var(--secondary);
}

article section {
  grid-area: article-content;
  font-weight: 400;
  text-align: justify;
}

article section h2,
article section h3,
article section h4,
article section h5 {
  text-align: center;
  margin: 25px;
}

article section p {
  font-size: 17px;
  line-height: 25px;
  text-indent: 30px;
  margin-top: 25px;
}

.article-details {
  text-align: right;
}

/* RESPONSIVE QUERIES */
@media only screen and (max-width: 1280px) {
  .content {
    padding-right: 50px;
    padding-left: 50px;
  }
}

@media only screen and (max-width: 1024px) {
  .main-grid {
    grid-template-columns: 20px auto 20px;
    grid-template-rows: 60px auto;
    grid-template-areas:
      'nav nav nav'
      'main main main';
  }

  .navigation-adaptive {
    flex-direction: row;
    justify-content: space-between;
  }

  #main-logo {
    margin-top: 0px;
    height: 40px;
    width: 80px;
  }

  nav {
    margin: 0px;
    position: fixed;
    width: 200px;
    right: -200px;
    top: 0px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--main-bg);
    box-shadow: 0px 0px 0px var(--box-shadow-color);
    transition: transform 0.4s ease, box-shadow 0.7s ease;
  }

  #mobile-burger {
    display: inline-block;
    padding: 20px;
  }

  #mobile-burger-close {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 1.75em;
  }

  article section {
    margin-right: 0px;
    margin-left: 0px;
  }

  .content {
    padding-right: 20px;
    padding-left: 20px;
  }
}

/* Search animation and icon CSS */
.search_container {
  display: block;
  margin-bottom: 70px;
}
.search {
  position: absolute;
  margin: auto;
  top: -250px;
  bottom: 0;
  left: 70px;
  width: 40px;
  height: 40px;
  background: var(--secondary);
  border-radius: 50%;
  transition: all 1s;
  z-index: 4;
  box-shadow: 0 0 25px 0 var(--box-shadow-color);
}

.search:hover {
  cursor: pointer;
}

.search::before {
  content: '';
  position: absolute;
  margin: auto;
  top: 15px;
  right: 0;
  bottom: 0;
  left: 11px;
  width: 7px;
  height: 2px;
  background: white;
  transform: rotate(45deg);
  transition: all 0.5s;
}

.search::after {
  content: '';
  position: absolute;
  margin: auto;
  top: -2px;
  right: 0;
  bottom: 0;
  left: -2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all 0.5s;
}

input.srch {
  font-family: var(--font-main);
  position: absolute;
  margin: auto;
  top: -250px;
  bottom: 0;
  left: 20px;
  width: 30px;
  height: 30px;
  outline: none;
  border: none;
  background: var(--nav-btn-bgcolor);
  color: var(--content-font-color);
  text-shadow: 0 0 10px var(--nav-btn-bgcolor);
  padding: 0 80px 0 20px;
  border-radius: 30px;
  box-shadow: 0 0 3px 0 var(--secondary);
  transition: all 1s;
  opacity: 0;
  z-index: 5;
  font-weight: bolder;
  letter-spacing: 0.1em;
}

input.srch:hover {
  cursor: pointer;
}

input.srch:focus {
  width: 60px;
  opacity: 1;
  cursor: text;
}

input.srch:focus ~ .search {
  left: 150px;
  background: var(--srch-after);
  z-index: 6;
}

input.srch:focus ~ .search::before {
  top: 0;
  left: 0;
  width: 15px;
}

input.srch:focus ~ .search::after {
  top: 0;
  left: 0;
  width: 15px;
  height: 2px;
  border: none;
  background: var(--main-bg);
  border-radius: 0%;
  transform: rotate(-45deg);
}

input.srch::placeholder {
  color: var(--content-font-color);
  opacity: 0.5;
  font-weight: bolder;
}
