<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><head>
<title>Planet CDOT</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="generator" content="http://intertwingly.net/code/venus/">
<link rel="stylesheet" href="/style/planet.css" type="text/css">
<link rel="alternate" href="http://zenit.senecac.on.ca/~chris.tyler/planet/atom.xml" title="" type="application/atom+xml">
</head>

<body>

{{{body}}}

</body></html>
