<!DOCTYPE html>
<html>
  <head>
    <title>Planet CDOT - Telescope Edition</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style/planet.css" type="text/css">
</head>
<body>
  {{{body}}}
</body>
</html>
