.telescope-post-content {
  font-size: 1.8rem;
  line-height: 1.6;
  text-align: left;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.telescope-post-content p {
  margin: 1.2rem 0;
}

.telescope-post-content img {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.telescope-post-content img[src*='emoji'],
.telescope-post-content img[src*='smileys'] {
  display: inline-block;
  width: 1.6rem;
  padding: 0;
  vertical-align: text-top;
}

.telescope-post-content h1 {
  font-size: 2.5em;
  max-width: 670px;
  margin-right: auto;
  margin-left: auto;
  line-height: 1.6;
  font-family: Palatino, Georgia, Cambrai, 'Times New Roman', Times, 'Helvetica Neue', Helvetica,
    Arial;
}

.telescope-post-content ol,
.telescope-post-content ul {
  padding: 1em 1.5em;
  line-height: 25px;
  font-family: Palatino, Georgia, Cambrai, 'Times New Roman', Times, 'Helvetica Neue', Helvetica,
    Arial;
}

/**
 * Styling for <code> (inline), <pre> (block), and <pre><code>...</code></pre>
 */
.telescope-post-content code,
.telescope-post-content pre {
  font-family: Menlo, Consolas, Monaco, 'Liberation Mono', 'Lucida Console', monospace;
  background: rgb(239, 240, 241);
  color: rgb(57, 51, 24);
}

.telescope-post-content code {
  padding: 2px 4px;
}

.telescope-post-content pre {
  border: 1px solid rgb(57, 51, 24);
  page-break-inside: avoid;
  font-size: 1.5rem;
  line-height: 1.5;
  max-width: 100%;
  overflow: auto;
  padding: 0.5em 1.5em;
  word-wrap: break-word;
}
