.telescope-post-content {
  font-size: 1.8rem;
  line-height: 1.6;
  text-align: left;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica,
    Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

.telescope-post-content p {
  padding: 0;
  margin: 0;
  display: inline;
}

.telescope-post-content img {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  width: 100%;
}
.telescope-post-content figure {
  display: block;
  margin: 0;
  text-align: center;
}

.telescope-post-content img[src*='emoji'],
.telescope-post-content img[src*='smileys'] {
  display: inline-block;
  width: 1.6rem;
  padding: 0;
  vertical-align: text-top;
}

.telescope-post-content h1 {
  font-size: 2em;
  max-width: 670px;
  margin-right: auto;
  margin-left: auto;
  line-height: 1.6;
}

.telescope-post-content ol,
.telescope-post-content ul {
  padding: 1em 1.5em;
  line-height: 25px;
}

/**
 * Styling for <code> (inline), <pre> (block), and <pre><code>...</code></pre>
 */
.telescope-post-content code,
.telescope-post-content pre {
  overflow-wrap: unset;
  word-wrap: none;
  font-family: Menlo, Consolas, Monaco, 'Liberation Mono', 'Lucida Console', monospace;
  background: #eff0f1;
  color: #242424;
}

.telescope-post-content code {
  padding: 2px 4px;
}

.telescope-post-content pre {
  border: 1px solid #242424;
  page-break-inside: avoid;
  font-size: 1.5rem;
  line-height: 1.5;
  max-width: 100%;
  overflow: auto;
  padding: 0.5em 1.5em;
  word-wrap: break-word;
}

/**
 * hyperlinks
 */
.telescope-post-content a {
  color: #335a7e;
}

.telescope-post-content a:active,
.telescope-post-content a:visited {
  color: #35001d;
}

.telescope-post-content blockquote,
.telescope-post-content q {
  line-height: 1.5;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  display: block;
  font-style: italic;
}
