.container {
  margin: 0;
  padding: 0;
  height: 4.5em;
  width: 100%;
  background-color: #333e64;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
}
.header_logo {
  flex: 1;
}
.logo {
  height: 3.5em;
  width: auto;
  margin: 0.5rem 0.5rem;
}
.header_navigation {
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search {
  flex: 1;
  height: 1.8em;
  width: auto;
  filter: invert(85%);
}
.menu {
  flex: 3;
  margin-right: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.menu nav ul li {
  color: #e5e5e5;
  font-weight: 500;
  display: inline;
  padding: 20px 15px;
}
.menu_icon {
  display: none;
}
.sideNav {
  display: none;
}

/* ----------- Mobile Version----------- */
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
  .menu_icon {
    height: 1.5em;
    width: auto;
    filter: invert(85%);
    display: block;
    margin: 0 1em;
    flex: 1;
  }
  .side {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' ';
    background: rgba(0, 0, 0, 0.5);
  }
  .sideNav {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    line-height: 1.75;
    color: #e5e5e5;
    font-weight: 500;
    text-align: center;
    position: fixed;
    right: 0;
    background-color: #333e64;
    padding-top: 15px;
    height: 100%;
    width: 250px;
    z-index: 1;
  }
  .sideNav div {
    width: inherit;
    flex: 1;
    justify-self: center;
  }
  .sideNav footer {
    justify-self: flex-end;
    font-size: 0.8rem;
    text-align: center;
  }
  .sideNav footer a:hover {
    text-decoration: underline;
  }
}
