<style>
  html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  main {
    display: flex;
    height: 100%;
    width: 100%;
  }
  iframe {
    flex: 1;
    border: 0;
  }
  #telescope {
    border-left: solid 2px black;
  }
</style>
<main>
  <iframe id="original" src="http://zenit.senecac.on.ca/~chris.tyler/planet/"></iframe>
  <iframe id="telescope" src="/planet"></iframe>
</main>
