.heroBanner {
  height: 100vh;
}

.bannerImg {
  background-image: url(../../images/hero-banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: 100vh;
  opacity: 0.4;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.icon {
  height: 7rem;
  width: 7rem;
  position: absolute;
  top: 92.5%;
  left: 50%;
}
